<section>
    <h1 class="about-title">About Me</h1>
    <div class="about-div">
        <div class="about-text-container">
            <p>
                Hello! My name is Mayank and I enjoy creating things that live on the Internet. Currently employed as a Software Developer and experienced in Web Development using Angular Framework.
            </p>
            <div class="blocks">
                <div class="block">
                    <span>+01</span>
                    <p>Years<br>experience</p>
                </div>
                <div class="block">
                    <span>+03</span>
                    <p>Completed<br>project</p>
                </div>
                <div class="block">
                    <span>+01</span>
                    <p>Companies<br>worked</p>
                </div>
            </div>
        </div>
        <div class="about-image-container">
            <img class="about-image" src="assets/images/undraw_Personal_info_re_ur1n.png" alt="about-image">
        </div>
    </div>
</section>