<section>
    <div class="about-div">
        <div class="about-text-container">
            <h2 class="about-title">About Me</h2>
            <br>
            <p>
                Hello! My name is Mayank and I enjoy creating things that live on the Internet. <br><br>Currently employed as a Software Developer and experienced in Web Development using Angular Framework.
            </p>
            <div class="blocks">
                <div class="block">
                    <span>+2</span>
                    <p>Years<br>experience</p>
                </div>
                <div class="block">
                    <span>+1</span>
                    <p>Completed<br>project</p>
                </div>
                <div class="block">
                    <span>1</span>
                    <p>Companies<br>worked</p>
                </div>
            </div>
        </div>
        <div class="about-image-container">
            <app-skills></app-skills>
        </div>
    </div>
</section>