<header>
    <nav>
        <span id="logo">Mayank <span id="dot">.</span></span>
        <ul class="navbar">
            <li *ngFor="let data of navbarData">
                <a class="nav-links" href="#" (click)="navbarItemClick($event)" [@activeInactive]="data.status">
                    {{data.name}}
                </a>
            </li>
        </ul>
        <button class="btn-contact">Contact Me</button>
    </nav>
</header>


<div class="container">
    <app-home></app-home>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-projects></app-projects>
</div>


<footer></footer>