<div class="main">
    <nav>
        <h2 class="site-title">{{title}}</h2>
    </nav>
    <div class="container">
        <div class="left-section">
            <h1 class="title">{{name}}</h1>
            <div>{{position}}</div>
            <br>
            <p>{{description}}</p>
            <br>
            <div class="links">
                <a class="link-anchor" href="{{links.git}}" target="_blank">
                    <i class="fa-brands fa-github" title="Github"></i>
                </a>
                <a class="link-anchor" href="{{links.linkedin}}" target="_blank">
                    <i class="fa-brands fa-linkedin" title="Linkedin"></i>
                </a>
                <a class="link-anchor" href="{{links.leetcode}}" target="_blank">
                    <i class="fa-solid fa-code" title="Leetcode"></i>
                </a>
            </div>
            <br>
            <div class="exp">
                <div class="exp-body">
                    <span class="count">02+</span>&nbsp;
                    <span class="value">Years Experience</span>
                </div>
                <div class="exp-body">
                    <span class="count">01</span>&nbsp;
                    <span class="value">Companies worked</span>
                </div>
            </div>
            <br>
            <button type="button" class="btn">
                <a href="{{links.resume}}" target="_blank">
                    <i class="fa-regular fa-share-from-square"></i>
                    &nbsp;
                    Resume
                </a>
            </button>
        </div>
        <div class="right-section">
            <div class="skills-section">
                <div class="sub-section-title">Things I know . . .</div>
                <br>
                <div class="skills-icon">
                    <figure>
                        <i class="fa-brands fa-square-js"></i>
                        <figcaption>Javascript</figcaption>
                    </figure>
                    <figure>
                        <i class="fa-brands fa-angular"></i>
                        <figcaption>Angular</figcaption>
                    </figure>
                    <figure>
                        <i class="fa-brands fa-node-js"></i>
                        <figcaption>Nodejs</figcaption>
                    </figure>
                    <figure>
                        <i class="fa-brands fa-bootstrap"></i>
                        <figcaption>Bootstrap</figcaption>
                    </figure>
                </div>
            </div>
            <br>
            <div class="project-section">
                <div class="sub-section-title">Projects</div>
                <br>
                <div class="project-list">
                    <div class="card" *ngFor="let project of projects">
                        <div class="card-title">{{project.title}}</div>
                        <div class="card-desc">{{project.description}}</div>
                        <hr>
                        <div class="url">
                            <a *ngIf="project.website" href="{{project.website}}" target="_blank">
                                <i class="fa-solid fa-link"></i> Link
                            </a>
                            <span *ngIf="project.website">&nbsp;&nbsp;</span>
                            <a href="{{project.git}}" target="_blank">
                                <i class="fa-solid fa-code-branch"></i> Github
                            </a>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>