<header>
    <nav>
        <ul class="navbar">
            <li *ngFor="let data of navbarData">
                <a class="nav-links" href="#{{data.name.toLowerCase()}}" (click)="navbarItemClick($event)" [@activeInactive]="data.status">
                    {{data.name}}
                </a>
            </li>
        </ul>
    </nav>
</header>


<div class="container">
    <app-home></app-home>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-projects></app-projects>
</div>


<footer></footer>