<div class="container">
    <section class="home-section">
        <div class="text-content">
            <h1 class="text">Hi, I'm Mayank</h1>
            <h2 class="text">Software Developer</h2>
            <h3 class="text sub-text">Experienced in Web Development, <br>producing quality work</h3>
            <button class="download-btn text">
                <span><i class="fa-solid fa-arrow-down"></i></span> Resume
            </button>
            <div class="icons text">
                <i class="icon fa-brands fa-github fa-3x"></i>
                <i class="icon fa-brands fa-linkedin-in fa-3x"></i>
            </div>
        </div>

        <div class="img-content">
            <img src="assets/images/Developer_activity_re_39tg.png" alt="image">
        </div>
    </section>
</div>