<section class="home-section">

    <div class="icons text">
        <a href="" title="github" class="icon"><i class="uil uil-github-alt"></i></a>
        <a href="" title="linkedin" class="icon"><i class="uil uil-linkedin-alt"></i></a>
        <a href="" title="leetcode" class="icon"><i class="uil uil-brackets-curly"></i></a>
        <a href="" title="gmail" class="icon"><i class="uil uil-envelope"></i></a>
    </div>

    <div class="text-content">
        <h1 class="text">Hi, I'm Mayank</h1>
        <h2 class="text">Software Developer</h2>
        <h3 class="text sub-text">Experienced in Web Development, <br>producing quality work</h3>
        <button class="download-btn text">
            <i class="uil uil-arrow-down"></i> Resume
        </button>
    </div>

    <div class="img-content">
        <img src="assets/images/Developer_activity_re_39tg.png" alt="image">
    </div>

</section>