/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}

$base-color: rgb(54, 54, 231);
$secondary-color: rgb(130, 60, 163);

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 500vh;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

#logo {
    font-size: 2.5rem;
    cursor: pointer;
    #dot {
        color: $base-color;
        font-weight: bold;
    }
}

a {
    font-size: 1.5rem;
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 1rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

.btn-contact {
    text-align: center;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background-color: $base-color;
    color: white;
    cursor: pointer;
    border: none;
}

.btn-contact:hover, .download-btn:hover {
    filter: grayscale(50%);
}

.home-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
    min-height: 90vh;
    .icons {
        display: flex;
        flex-direction: column;
        .icon {
            font-size: 2.5rem;
            padding: 1rem;
        }
        .icon:hover {
            color: $base-color;
        }
    }
    .text-content {
        padding: 0 4rem;
        .text {
            margin: 1rem 1rem;
        }
        .sub-text {
            color: rgb(104, 102, 102);
            font-weight: 100;
        }
        .download-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem 2rem;
            font-size: 1.5rem;
            border-radius: 3rem;
            border: none;
            background-color: $base-color;
            color: white;
            cursor: pointer;
            i {
                font-size: 2.5rem;
            }
        }
    }
}

img {
    width: auto;
    height: 500px;
    padding: 4rem 0;
}

.about-title {
    text-align: center;
}

.about-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.about-header {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    float: left;
}

p {
    font-size: 1.5rem;
}

.about-text-container {
    max-width: 500px;
    padding: 2rem 0;
    .blocks {
        display: flex;
        justify-content: space-around;
        .block {
            margin: 1.5rem 0;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            p {
                font-size: 1.25rem;
                font-weight: 100;
            }
        }
    }
}

.about-image {
    height: 360px;
}