/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}

$base-color: #44efff;

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 500vh;
    background-color: #0f172a;
    color: white;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

#logo {
    font-size: 2.5rem;
    cursor: pointer;
    #dot {
        color: $base-color;
        font-weight: bold;
    }
}

a {
    font-size: 1.75rem;
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    position: sticky;
    top: 0;
    background-color: #0f172a;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 1rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

.btn-contact {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background-color: #172f57;
    color: white;
    cursor: pointer;
    border: none;
}

.btn-contact:hover, .download-btn:hover {
    filter: grayscale(50%);
}

.home-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
    min-height: 90vh;
    .icons {
        display: flex;
        flex-direction: column;
        .icon {
            font-size: 2.5rem;
            padding: 1rem;
            color: white;
        }
        .icon:hover {
            color: $base-color;
        }
    }
    .text-content {
        padding: 0 4rem;
        .text {
            margin: 1rem 1rem;
        }
        .sub-text {
            color: rgb(211, 211, 211);
            font-weight: 100;
        }
        .download-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem 2rem;
            font-size: 1.5rem;
            border-radius: 3rem;
            border: none;
            background-color: $base-color;
            cursor: pointer;
            i {
                font-size: 2.5rem;
            }
        }
    }
}

img {
    width: auto;
    height: 600px;
    padding: 4rem 0;
}

.about-title {
    color: $base-color;
    font-weight: 100;
}

.about-div {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    min-height: 90vh;
}

.about-header {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    float: left;
}

p {
    font-size: 1.5rem;
}

.about-text-container {
    max-width: 500px;
    padding: 4rem;
    border-radius: 2rem;
    background-color: #172f57;
    .blocks {
        display: flex;
        justify-content: space-around;
        .block:nth-child(2) {
            border-left: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            padding: 0 2rem;
        }
        .block {
            margin: 1.5rem 0;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            p {
                font-size: 1.25rem;
                font-weight: 100;
            }
        }
    }
}

.about-image {
    height: 500px;
}

.custom-hr {
    border: 1px solid #172f57;
}

.skill-title {
    text-align: center;
    font-weight: 100;
    color: $base-color;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 3rem;
    .skill {
        color: #85adf3;
        height: min-content;
        font-size: 4rem;
        text-align: center;
        border-radius: 2rem;
        padding: 3%;
        .skill-name {
            padding-top: 2rem;
            font-weight: 100;
        }
    }
}